.product-image-card {
  border: none;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details-card {
  padding: 1.5rem;
  border: none;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-description {
  font-size: 1rem;
  color: #333;
}

@media (max-width: 767px) {
  .product-title {
    font-size: 1.25rem;
  }

  .product-description {
    font-size: 0.875rem;
  }
}

@media (min-width: 992px) {
  .product-title {
    font-size: 1.75rem;
  }
}
